 body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #800080, #ff69b4);  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);  
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

#wrapper {
    font-size: 48px;
    color: #ffcc00;
}

#wrapper span {
    padding: 0 10px;
    color: #ffcc00;
}

#ampm {
    font-size: 24px;
    vertical-align: super;
    margin-left: 10px;
    color: #ff4500;
}
